In [1]:
import warnings
warnings.filterwarnings("ignore")

In [2]:
import sys
sys.path.append('../')

In [3]:
import pandas as pd

In [4]:
wti_price_cot = pd.read_csv('../cache/raw_data/wti_price_cot.csv')
rbob_price_cot = pd.read_csv('../cache/raw_data/rbob_price_cot.csv')
ho_price_cot = pd.read_csv('../cache/raw_data/ho_price_cot.csv')
gasoil_price_cot = pd.read_csv('../cache/raw_data/gasoil_price_cot.csv')
br_price_cot = pd.read_csv('../cache/raw_data/br_price_cot.csv')

In [5]:
wti_price_cot['Name'] = 'CL'
rbob_price_cot['Name'] = 'XB'
ho_price_cot['Name'] = 'HO'
gasoil_price_cot['Name'] = 'QS'
br_price_cot['Name'] = 'CO'

In [6]:
for df in [wti_price_cot  ,
            rbob_price_cot,  
            ho_price_cot , 
            gasoil_price_cot ,
            br_price_cot  ]:
    df.columns = [ 'tradeDate', 
                           'F1_Price',
                           'F2_Price', 
                           'F3_Price', 
                           'F1_RolledPrice', 
                           'F2_RolledPrice',
                            'F3_RolledPrice', 
                            'Commercial_NetPosition', 
                            'CommercialLongPosition', 
                            'CommercialShortPosition', 
                            'ManagedMoney_NetPosition',
                            'ManagedMoney_LongPosition', 
                            'ManagedMoney_ShortPosition',
                 'Name']

In [7]:
dataset = pd.concat([wti_price_cot  ,
            rbob_price_cot,  
            ho_price_cot , 
            gasoil_price_cot ,
            br_price_cot  ]).reset_index(drop=True)

In [8]:
prices_db = dataset[['tradeDate',
                      'Name',
                     'F1_Price',
                     'F2_Price',
                     'F3_Price',
                     'F1_RolledPrice',
                     'F2_RolledPrice',
                     'F3_RolledPrice']]

In [9]:
cot_db = dataset[['tradeDate',
                      'Name',
                    'Commercial_NetPosition', 
                            'CommercialLongPosition', 
                            'CommercialShortPosition', 
                            'ManagedMoney_NetPosition',
                            'ManagedMoney_LongPosition', 
                            'ManagedMoney_ShortPosition']]

In [10]:
prices_db.to_csv('../cache/raw_data/prices_db.csv')

In [11]:
cot_db.to_csv('../cache/raw_data/cot_db.csv')

In [32]:
wti_vol_wo_sprd = pd.read_csv('../cache/raw_data/wti_vol.csv')
wti_sprd_vol = pd.read_csv('../cache/raw_data/wti_spd_vol.csv')
rbob_vol = pd.read_csv('../cache/raw_data/rbob_vol.csv')
ho_vol = pd.read_csv('../cache/raw_data/ho_vol.csv')
gasoil_vol = pd.read_csv('../cache/raw_data/gasoil_vol.csv')
br_vol = pd.read_csv('../cache/raw_data/br_vol.csv')

In [33]:
wti_vol_wo_sprd.columns=['tradeDate', 'CL1 Comdty', 'CL2 Comdty', 'CL3 Comdty']
wti_sprd_vol.columns = ['tradeDate', 'S:CLCL 1-2 Comdty']
wti_vol = pd.merge(wti_vol_wo_sprd,
                   wti_sprd_vol,
                   on = 'tradeDate',
                   how = 'left')

In [36]:
wti_vol.tail()

       tradeDate CL1 Comdty CL2 Comdty CL3 Comdty S:CLCL 1-2 Comdty
3922  2025-07-31   247031.0   128928.0    94175.0           51118.0
3923  2025-08-01   355819.0   219912.0   139266.0           88521.0
3924  2025-08-04   277375.0   148250.0    92638.0           63424.0
3925  2025-08-05   279030.0   174081.0    94566.0           73596.0
3926  2025-08-06   353827.0   200006.0   118565.0           75702.0

In [37]:

wti_vol['Name'] = 'CL'
rbob_vol['Name'] = 'XB'
ho_vol['Name'] = 'HO'
gasoil_vol['Name'] = 'QS'
br_vol['Name'] = 'CO'

In [38]:
wti_vol.tail()

       tradeDate CL1 Comdty CL2 Comdty CL3 Comdty S:CLCL 1-2 Comdty Name
3922  2025-07-31   247031.0   128928.0    94175.0           51118.0   CL
3923  2025-08-01   355819.0   219912.0   139266.0           88521.0   CL
3924  2025-08-04   277375.0   148250.0    92638.0           63424.0   CL
3925  2025-08-05   279030.0   174081.0    94566.0           73596.0   CL
3926  2025-08-06   353827.0   200006.0   118565.0           75702.0   CL

In [39]:
ho_vol.tail()

     Unnamed: 0  HO1 Comdty   HO2 Comdty   HO3 Comdty  S:HOHO 1-2 Comdty Name
3899    6/30/25         2475        63427       46101               2267   HO
3900     7/1/25        70952        60782       32065              27350   HO
3901     7/2/25        91299        82205       37597              40330   HO
3902     7/3/25        78445        66177       31121              30082   HO
3903     7/7/25        77934        66632       33885              22731   HO

In [40]:
gasoil_vol.tail()

      Unnamed: 0 QS1 Comdty  QS2 Comdty  QS3 Comdty  S:QSQS 1-2 Comdty Name
4000  2025-07-01     51253.0     98166.0     54676.0           32331.0   QS
4001  2025-07-02     36593.0    102214.0     72494.0           20891.0   QS
4002  2025-07-03     39765.0    105757.0     76168.0           24134.0   QS
4003  2025-07-04     25679.0     68813.0     41667.0           18293.0   QS
4004  2025-07-07     47137.0    122355.0     79382.0           27182.0   QS

In [41]:
br_vol.tail()

      Unnamed: 0 CO1 Comdty  CO2 Comdty  CO3 Comdty S:COCO 1-2 Comdty Name
4000  2025-07-01    270047.0    199658.0   109978.0           89153.0   CO
4001  2025-07-02    384482.0    256325.0   129599.0          120927.0   CO
4002  2025-07-03    313952.0    247924.0   134804.0          109173.0   CO
4003  2025-07-04    160484.0    112718.0    63839.0           51455.0   CO
4004  2025-07-07    313875.0    223764.0   132929.0          101809.0   CO

In [42]:
rbob_vol.tail()

     Unnamed: 0  XB1 Comdty   XB2 Comdty   XB3 Comdty   S:XBXB 1-2 Comdty Name
3899    6/30/25         4526        53214        35801               3244   XB
3900     7/1/25        51574        41475        18052              18280   XB
3901     7/2/25        58317        50699        16557              24921   XB
3902     7/3/25        44061        32194        12589              12613   XB
3903     7/7/25        65359        52849        22563              20630   XB

In [43]:
for df in [wti_vol  ,
            rbob_vol  ,
            ho_vol  ,
            gasoil_vol  ,
            br_vol ]:
    df.columns=['tradeDate',
                 'F1_Volume',
                 'F2_Volume',
                 'F3_Volume',
                 'F1MinusF2_Volume',
               'Name']

In [44]:
volume_db = pd.concat([wti_vol  ,
            rbob_vol  ,
            ho_vol  ,
            gasoil_vol  ,
            br_vol ]).reset_index(drop = True)

In [45]:
volume_db[['tradeDate',
             'Name',
                 'F1_Volume',
                 'F2_Volume',
                 'F3_Volume',
                 'F1MinusF2_Volume',
              ]].to_csv('../cache/raw_data/volume_db.csv')

In [46]:
wti_oi = pd.read_csv('../cache/raw_data/wti_oi.csv')
rbob_oi = pd.read_csv('../cache/raw_data/rbob_oi.csv')
ho_oi = pd.read_csv('../cache/raw_data/ho_oi.csv')
gasoil_oi = pd.read_csv('../cache/raw_data/gasoil_oi.csv')
br_oi = pd.read_csv('../cache/raw_data/br_oi.csv')

In [47]:
wti_oi['Name'] = 'CL'
rbob_oi['Name'] = 'XB'
ho_oi['Name'] = 'HO'
gasoil_oi['Name'] = 'QS'
br_oi['Name'] = 'CO'

In [48]:
for df in [wti_oi  ,
            rbob_oi  ,
            ho_oi  ,
            gasoil_oi  ,
            br_oi ]:
    df.columns=[
            "tradeDate", 
    "F1_OI", "F1_AGG", 
    "F2_OI", "F2_AGG", 
    "F3_OI", "AGG_OI",
               'Name']
    df = df.iloc[1:].reset_index(drop=True)

In [49]:
oi_db = pd.concat([wti_oi  ,
            rbob_oi  ,
            ho_oi  ,
            gasoil_oi  ,
            br_oi ]).reset_index(drop = True)

In [50]:
oi_db = oi_db.iloc[1:].reset_index(drop=True)

In [51]:
oi_db.columns.tolist()

['tradeDate', 'F1_OI', 'F1_AGG', 'F2_OI', 'F2_AGG', 'F3_OI', 'AGG_OI', 'Name']

In [52]:
oi_db[['tradeDate',
             'Name',
               'F1_OI',   'F2_OI',   'F3_OI', 'AGG_OI'
              ]].to_csv('../cache/raw_data/oi_db.csv')